@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600");

html {
    position  : relative;
    min-height: 100vh;
    min-width : 920px;
}

body {
    margin-bottom   : 111px;
    font-family     : 'Montserrat', sans-serif;
    background-color: #f9f9f9;
}

.nounderline {
    text-decoration: none !important
}

.no-underline:hover {
    text-decoration: none;
}

.noselect {
    /* iOS Safari */
    -webkit-touch-callout: none;
    /* Safari */
    -webkit-user-select  : none;
    /* Konqueror HTML */
    -khtml-user-select   : none;
    /* Firefox */
    -moz-user-select     : none;
    /* Internet Explorer/Edge */
    -ms-user-select      : none;
    /* Non-prefixed version, currently supported by Chrome and Opera */
    user-select          : none;
}

.font-500 {
    font-weight: 500;
}

a {
    color: #009fff;
}